/*Дэфолтные настройки*/
* {
  box-sizing: border-box;
}
nav ul{
  display: flex;
  justify-content: space-between;
}

ul li {
  list-style: none;
}

html,
body {
  margin: 0;
  position: relative;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  overflow-x: clip;
}

section {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
p,
li,
a {
  margin: 0;
  padding: 0;
}

input,
textarea {
  font-family: 'TT Norms Pro', sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-family: 'TT Norms Pro', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'TT Norms Pro', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #23272F;
  color: #FFF;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1374px;
  margin: 0 auto;
  padding: 0 18px;
  z-index: 5;
  position: relative;
}

input,
textarea {
  outline: none;
}

input:active,
textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea {
  resize: vertical;
}

textarea {
  resize: horizontal;
}

button:active,
button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

button {
  cursor: pointer;
  border: none;
}

button:hover {
  transition: 0.3s;
}

/*Дэфолтные настройки*/
header {
  border-bottom: 1px solid #3F444D;
  background: #22252B;
}

.header-container-right-avatar {
  border-radius: 999px;
  background: #C5ECFD;
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
}

.header-container-right-text span {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.28px;
}

.header-container-right-text a {
  color: #EE6C77;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 150% */
  letter-spacing: 0.24px;
}

.header-container-right-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 34px;
}

.header-container-right {
  display: flex;
  gap: 12px;
}

.project {
  margin-top: 16px;
}

.project-container {
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #3F444D;
  background: #23272F;
}

.project-container-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  /* 130% */
  padding-bottom: 25px;
}

.project-search {
  position: relative;
  width: 295px;
  height: 32px;
}

.project-search input {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #3F444D;
  background: #23272F;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 150% */
  letter-spacing: 0.24px;
  box-shadow: 0px -2px 0px 0px rgba(89, 95, 106, 0.14) inset;
  padding: 6px 12px;
}

.project-search svg {
  position: absolute;
  top: 5px;
  right: 12px;
  cursor: pointer;
}

.project-search input::placeholder {
  color: #FFF;
}

.btn-add-project {
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  color: white;
  font-weight: 400;
  line-height: 18px;
  /* 150% */
  letter-spacing: 0.24px;
  border-radius: 7px;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  background: #4881F5;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.12), 0px 3px 1px 0px rgba(0, 0, 0, 0.04);
  width: 169px;
  height: 32px;
}

.project-container-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 32px;
}

.project-content-block-name {
  color: #E1E6EF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 112.5% */
  display: flex;
  align-items: center;
  gap: 10px;
  letter-spacing: 0.32px;
}

.project-content-block {
  padding: 10px 15px;
  border-radius: 8px;
  background: #29303D;
}

.project-name-btn-add-user {
  overflow: hidden;
  color: #FFF;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 150% */
  letter-spacing: 0.24px;
  width: 167px;
  height: 32px;
  border-radius: 7px;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  background: #4881F5;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.12), 0px 3px 1px 0px rgba(0, 0, 0, 0.04);
}

.project-name-btn-back {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: #FFF;
  background: #292E38;
  width: 61px;
  height: 32px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  /* 133.333% */
  letter-spacing: 0.24px;
}

.project-name-btn {
  display: flex;
  padding-bottom: 25px;
  gap: 10px;
}

.project-name-text h3 {
  color: #E1E6EF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 112.5% */
  letter-spacing: 0.32px;
}

.project-name-text p {
  padding-top: 15px;
  color: #E1E6EF;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 150% */
  letter-spacing: 0.24px;
}

.project-name-text-block {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 128.571% */
  letter-spacing: 0.28px;
  padding-top: 10px;
}

.project-name-text-block span {
  color: #4881F5;
}

.project-name-text h4 {
  color: #E1E6EF;
  padding-bottom: 5px;
  padding-top: 25px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 112.5% */
  letter-spacing: 0.32px;
}

.admin-info-avatar {
  border-radius: 100px;
  background: #849CA9;
  width: 152px;
  height: 152px;
  position: relative;
}

.admin-info-avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.admin-info-avatar-svg {
  position: absolute;
  top: 40px;
  left: 40px;
}

.project-container-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 112.5% */
  letter-spacing: 0.32px;
  padding-bottom: 15px;
  padding-top: 25px;
}

.project-container-block-input {
  position: relative;
  width: 100%;
  height: 38px;
}

.project-container-block {
  width: 33%;
}

.project-container-block-input input {
  width: 100%;
  height: 100%;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  /* 133.333% */
  letter-spacing: 0.24px;
  border-radius: 8px;
  border: 1px solid #3F444D;
  padding: 10px 12px;
  background: #23272F;
}

.project-container-block-input svg {
  position: absolute;
  top: 10px;
  right: 12px;
}

.project-container-block p {
  color: #B6BCC9;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 153.846% */
  letter-spacing: 0.26px;
  padding-bottom: 8px;
}

.project-container-content {
  display: flex;
  gap: 25px;
}

.btn-save {
  overflow: hidden;
  color: #FFF;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 150% */
  letter-spacing: 0.24px;
  border-radius: 7px;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  width: 86px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  background: #4881F5;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.12), 0px 3px 1px 0px rgba(0, 0, 0, 0.04);
}

.user-list-select {
  position: relative;
  width: 126px;
  height: 32px;
}

.user-list-select select {
  border-radius: 8px;
  color: white;
  border: 1px solid #3F444D;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 150% */
  letter-spacing: 0.24px;
  padding: 6px 12px;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #23272F;
  box-shadow: 0px -2px 0px 0px rgba(89, 95, 106, 0.14) inset;
}

.user-list-select svg {
  position: absolute;
  top: 6px;
  right: 12px;
}

.project-container-top-left {
  display: flex;
  gap: 10px;
}

.icons-table span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  border-radius: 100px;
  height: 30px;
}

.icons-table {
  display: flex;
  gap: 8px;
}

#table {
  width: 100%;
  border-collapse: collapse;
}

#table>thead {
  background: #3F444D;
  box-shadow: 0px -1px 0px 0px #3F444D inset;
}

#table>thead>tr>th,
#table>tbody>tr>td {
  text-align: left;
  color: #E1E6EF;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 150% */
  letter-spacing: 0.24px;
  padding: 8px 16px;
}

/* Нечетные строки */
#table tbody tr:nth-child(odd) {
  background: #29303D;
}

/* Четные строки */
#table tbody tr:nth-child(even) {
  background: #23272F;
}

.table-top-block {
  display: flex;
  gap: 5px;
  align-items: center;
}